h1 {
    margin-bottom: 15px;
    text-align: center;
    color: rgb(40,80,120);
}

#pricing {
    position: relative;
    text-align: center;
    width: 600px;
    margin: auto;
}

#pricing .plans {
    background-image: url(/images/pricing_form.png);
    width: 570px;
    height: 494px;
    padding: 15px;
    margin-top: 10px;
}

#pricing #special {
    width: 450px;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(203,219,250);
    border-radius: 20px;
    padding: 20px;
}

#pricing .plan {
    height: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 5px;
    cursor: pointer;
}

#pricing .plan:hover {
    background-color: rgba(110,50,130,0.3);
    border-radius: 30px;
}

#pricing .plan .yours {
    display: none;
}

#pricing .plan.using .yours {
    display: block;
    font-size: 20px;
    color: rgb(255,255,0);
}

#pricing .plan.using {
    background-color: rgb(90,110,130);
    border-radius: 30px;
}

#pricing .back {
    font-size: 24px;
    position: absolute;
    right: 50px;
    bottom: 30px;
}

#pricing .buy {
    position: absolute;
    left: 200px;
    bottom: 30px;
    width: 201px;
    height: 51px;
    background-image: url(/images/buy.png);
    background-color: transparent;
    padding: 0px;
    border-width: 0px;
    cursor: pointer;
}

#pricing .more .quantity {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 100px;
    text-align: center;
    color: rgb(180,255,127);
    font-size: 1.5em;
}

#pricing .more .quantity input {
    width: 40px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    border-width: 2px;
    border-color: rgb(255,255,0);
    border-style: solid;
    background-color: rgba(255,255,255,0.1);
    color: rgb(255,255,0);
}

#pricing .cc {
    padding: 15px;
    border-radius: 25px;
    background-color: rgb(240,248,252);
    width: 300px;
    margin: auto;
    margin-top: 10px;
}

#pricing .cc input[type="text"] {
    text-align: center;
    border-radius: 10px;
    padding: 3px;
    border-style: solid;
    border-color: rgb(30,50,120);
}

#pricing .cc div {
    margin-bottom: 5px;
}

#pricing .cc .plan-name {
    font-size: 20px;
    font-weight: bold;
}

#pricing .buy.pressed:active,
#pricing .buy.pressed {
    background-image: url(/images/buy_pressed.png);
}

#pricing .buy.free {
    background-image: url(/images/downgrade.png);
}

#pricing .buy.free.pressed:active,
#pricing .buy.free.pressed {
    background-image: url(/images/downgrade_pressed.png);
}

#pricing .cc .purchase {
    width: 201px;
    height: 51px;
    background-image: url(/images/purchase.png);
    background-color: transparent;
    color: transparent;
    padding: 0px;
    border-width: 0px;
    margin-top: 10px;
}

#pricing .cc .purchase.pressed:active,
#pricing .cc .purchase.pressed {
    background-image: url(/images/purchase_pressed.png);
}

#pricing .busy {
    display: none;
}

#pricing .back a:link, #pricing .back a:visited {
    color: rgb(215,245,255);
}

.plans .more ul {
    text-align: left;
    color: white;
}

.plans .more ul li {
    margin-top: 7px;
    margin-bottom: 7px;
}

.plans .more .additional {
    margin-bottom: 10px;
}

.plan .icon {
    float: left;
}

.plan .desc {
    margin-left: 170px;
    text-align: left;
    color: white;
}

.plan .desc .price {
    float: right;
    color: white;
    font-size: 20px;
}

.plan .desc .price .per {
    font-size: 12px;
}

.plan .desc .title {
    font-size: 24px;
    color: rgb(255,255,0);
}

.plan .desc .features {
    color: rgb(180,255,100);
    margin-top: 10px;
}

#payment-success {
    width: 369;
    height: 480;
    background-image: url(/images/account_upgraded.png);
    margin: auto;
    margin-top: 10px;
}

#purchase .error {
    font-weight: bold;
    color: red;
}
